<!-- HEADER -->
<header>
    <button [ngxVanTriggerFor]="van">
        <app-icon>
            {{ van.vm().isOpen ? 'close' : 'menu_open' }}
        </app-icon>
    </button>
    <ngx-van
        [breakpoint]="700"
        [side]="'end'"
        [closeOnBackdropClick]="'close'"
        [closeOnEscapeKeyClick]="'dispose'"
        #van
    >
        <ul>
            <li>
                <a ngx-van-item="dispose" routerLink="/">
                    @if (van.vm().menu === 'desktop') {
                        <app-icon>inbox</app-icon>
                    }
                    Inbox
                </a>
            </li>
            <li>
                <a ngx-van-item routerLink="/starred">
                    @if (van.vm().menu === 'desktop') {
                        <app-icon>star</app-icon>
                    }
                    Starred
                </a>
            </li>
            <li>
                <a ngx-van-item="close" routerLink="/important">
                    @if (van.vm().menu === 'desktop') {
                        <app-icon>label_important</app-icon>
                    }
                    Important
                </a>
            </li>
            <li>
                <a ngx-van-item routerLink="/drafts">
                    @if (van.vm().menu === 'desktop') {
                        <app-icon>drafts</app-icon>
                    }
                    Drafts
                </a>
            </li>
            <li>
                <a ngx-van-item routerLink="/deleted">
                    @if (van.vm().menu === 'desktop') {
                        <app-icon>delete</app-icon>
                    }
                    Deleted
                </a>
            </li>
        </ul>
    </ngx-van>
</header>

<!-- CONTENT -->
<main>
    <router-outlet></router-outlet>
</main>

<!-- FOOTER -->
<footer>
    <div>
        <a href="https://github.com/otodockal/ngx-van" target="_blank">ngx-van</a>
    </div>
</footer>
