<div class="layout">
    <!-- HEADER -->
    <header>
        <button [ngxVanTriggerFor]="van">
            <app-icon>
                {{ van.isOpen ? 'close' : 'menu_open' }}
            </app-icon>
        </button>

        <ngx-van [breakpoint]="600" [side]="'start'" #van>
            <ul>
                <li>
                    <a ngx-van-item href="#">
                        <app-icon *ngIf="van.menu === 'desktop'">inbox</app-icon>
                        Inbox
                    </a>
                </li>
                <li>
                    <a ngx-van-item href="#">
                        <app-icon *ngIf="van.menu === 'desktop'">star</app-icon>
                        Starred
                    </a>
                </li>
                <li>
                    <a ngx-van-item href="#">
                        <app-icon *ngIf="van.menu === 'desktop'">label_important</app-icon>
                        Important
                    </a>
                </li>
                <li>
                    <a ngx-van-item href="#">
                        <app-icon *ngIf="van.menu === 'desktop'">drafts</app-icon>
                        Drafts
                    </a>
                </li>
                <li>
                    <a ngx-van-item href="#">
                        <app-icon *ngIf="van.menu === 'desktop'">delete</app-icon>
                        Deleted
                    </a>
                </li>
            </ul>
        </ngx-van>

        <h1 *ngIf="van.menu === 'mobile'">ngx-van</h1>
    </header>

    <!-- CONTENT -->
    <main>
        <img src="https://cdn-icons-png.flaticon.com/512/2844/2844078.png" />
    </main>

    <!-- FOOTER -->
    <footer>
        <div>
            Icons made by
            <a href="https://www.flaticon.com/authors/linector" title="Linector">Linector</a>
            from
            <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
        </div>
        <div>
            <a href="https://github.com/otodockal/ngx-van" target="_blank">ngx-van</a>
        </div>
    </footer>
</div>
