<!-- HEADER -->
<header>
    <button [ngxVanTriggerFor]="van">
        <app-icon>
            {{ van.isOpen ? 'close' : 'menu_open' }}
        </app-icon>
    </button>

    <h1 *ngIf="van.menu === 'mobile'">ngx-van</h1>

    <ngx-van [breakpoint]="700" [side]="'end'" #van>
        <ul>
            <li>
                <a ngx-van-item href="#">
                    <app-icon *ngIf="van.menu === 'desktop'">inbox</app-icon>
                    Inbox
                </a>
            </li>
            <li>
                <a ngx-van-item href="#">
                    <app-icon *ngIf="van.menu === 'desktop'">star</app-icon>
                    Starred
                </a>
            </li>
            <li>
                <a ngx-van-item href="#">
                    <app-icon *ngIf="van.menu === 'desktop'">label_important</app-icon>
                    Important
                </a>
            </li>
            <li>
                <a ngx-van-item href="#">
                    <app-icon *ngIf="van.menu === 'desktop'">drafts</app-icon>
                    Drafts
                </a>
            </li>
            <li>
                <a ngx-van-item href="#">
                    <app-icon *ngIf="van.menu === 'desktop'">delete</app-icon>
                    Deleted
                </a>
            </li>
        </ul>
    </ngx-van>
</header>

<!-- CONTENT -->
<main>
    <img src="./assets/logo.png" />
</main>

<!-- FOOTER -->
<footer>
    <div>
        <a href="https://github.com/otodockal/ngx-van" target="_blank">ngx-van</a>
    </div>
</footer>
